nav{
    top: 0;
  
  }
  
  
  .title{
    font-family:  Arial, Helvetica, sans-serif;
  }
  
  #notice{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  #settings-bar{
    background-color: #ddd;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 3% 3%;
  }
  .toggle-footer-closed{
    position: fixed;
    bottom: 0;
  
  }
  
  #map{
    border: 1px solid black;
    border-radius: 4px;
  }
  
  #popup{
    font-size: 80%;
    padding: 1% 1%;
  }
  .marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #currentlocation{
    display: flex;
    flex-direction: row;
  }
  
  section{
    padding: 3% 3%;
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  #parkingmap{
    margin-top: 200px;
  }
  
  
  .addMore:hover{
    border: 1px solid #888;
    background-color: #ddd;
  }
  #menu {
  position: absolute;
  background: #fff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  }
  #info{
    margin-top: 3%;
  
  }
  
  #info button{
    margin-right: 1%;
  }
  
  #lottype-settings, #availability-settings{
    display: flex;
    flex-direction: column;
  }
  
  table{
    margin-bottom: 5%;
  }
  
  @media screen and (max-width: 800px) {
    h1,h2,h3,h4 {
      font-size: 80%;
    }
  
  
    tr{
      font-size: 60%;
    }
  }